#### Import Dataset

In [2]:
import pandas as pd
data = pd.read_csv(r'C:\Users\marcu\Desktop\MACHINE_LEARNING\DATABASES\COLLEGE_ADMISSION_DATASET\Admission_Predict.csv')
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

#### Defining the target variable

In [7]:
y = data['Chance of Admit ']
x = data.drop(['Chance of Admit ', 'Serial No.'], axis =1)

#### Importing Libraries

In [12]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import Ridge

#### Setting the ML algorithm

In [13]:
model = Ridge()

#### Using RFE

In [18]:
rfe = RFE(estimator = model, n_features_to_select = 2)
fit = rfe.fit(x, y)

#### Showing Results

In [19]:
print(f'Number of attributes: {fit.n_features_}')
print(f'Selected Attributes: {fit.support_}')
print(f'Atributes Ranking: {fit.ranking_}')

Number of attributes: 2
Selected Attributes: [False False False False False  True  True]
Atributes Ranking: [6 4 3 5 2 1 1]

### Documentation

https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html