In [15]:
import pandas as pd
data = pd.read_csv(r'C:\Users\marcu\Desktop\MACHINE_LEARNING\DATABASES\COLLEGE_ADMISSION_DATASET\Admission_Predict.csv')
data

C:\Users\marcu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

    Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR ,CGPA,Research,Chance of Admit
0                      1,337,118,4,4.5,4.5,9.65,1,0.92
1                        2,324,107,4,4,4.5,8.87,1,0.76
2                           3,316,104,3,3,3.5,8,1,0.72
3                       4,322,110,3,3.5,2.5,8.67,1,0.8
4                          5,314,103,2,2,3,8.21,0,0.65
..                                                 ...
395                  396,324,110,3,3.5,3.5,9.04,1,0.82
396                    397,325,107,3,3,3.5,9.11,1,0.84
397                    398,330,116,4,5,4.5,9.45,1,0.91
398                    399,312,103,3,3.5,4,8.78,0,0.67
399                      400,333,117,4,5,4,9.66,1,0.95

[400 rows x 1 columns]

In [10]:
y = data['Chance of Admit ']
x = data.drop('Chance of Admit ', axis =1)

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import ElasticNet

In [12]:
values = {'alpha':[0.1, 0.5 ,1, 2, 5, 10, 25, 50, 100, 150, 200, 300, 500, 750, 1000, 1500, 2000, 3000, 5000],\
          'l1_ratio':[0.02, 0.03, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6,0.7, 0.8, 0.9,1]}

### Most important: n_jobs = -1

In [13]:
model = ElasticNet()
search = GridSearchCV(estimator = model, param_grid = values, cv = 5, n_jobs = -1)
search.fit(x,y)

GridSearchCV(cv=5, estimator=ElasticNet(), n_jobs=-1,
             param_grid={'alpha': [0.1, 0.5, 1, 2, 5, 10, 25, 50, 100, 150, 200,
                                   300, 500, 750, 1000, 1500, 2000, 3000,
                                   5000],
                         'l1_ratio': [0.02, 0.03, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5,
                                      0.6, 0.7, 0.8, 0.9, 1]})

In [14]:
print('Best score: ', search.best_score_)
print('Best alpha: ', search.best_estimator_.alpha)
print('Best l1_ratio: ', search.best_estimator_.l1_ratio)

Best score:  0.7510290719875717
Best alpha:  0.1
Best l1_ratio:  0.02