In [7]:
import pandas as pd
import io
import requests 

url = "http://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data"
s = requests.get(url).content
data = pd.read_csv(io.StringIO(s.decode('utf-8')))
data

     B  1  1.1  1.2  1.3
0    R  1    1    1    2
1    R  1    1    1    3
2    R  1    1    1    4
3    R  1    1    1    5
4    R  1    1    2    1
..  .. ..  ...  ...  ...
619  L  5    5    5    1
620  L  5    5    5    2
621  L  5    5    5    3
622  L  5    5    5    4
623  B  5    5    5    5

[624 rows x 5 columns]

In [8]:
data.isnull().sum()

B      0
1      0
1.1    0
1.2    0
1.3    0
dtype: int64

In [9]:
data.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'