In [1]:
import pandas as pd
data =  pd.read_csv(r'C:\Users\marcu\Desktop\MACHINE_LEARNING\DATABASES\COLLEGE_ADMISSION_DATASET\Admission_Predict.csv')
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [2]:
data.drop('Serial No.', axis = 1, inplace = True)

In [3]:
y = data['Chance of Admit ']
x = data.drop(['Chance of Admit '], axis = 1)

In [4]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [5]:
kfold = KFold(n_splits = 5)

In [6]:
model = DecisionTreeRegressor()
result = cross_val_score(model, x, y, cv = kfold)

In [7]:
print(f'R2 coeficient: {result.mean()}')

R2 coeficient: 0.5242096347169662

### Documentation

https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html