In [8]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
data

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [7]:
data['Iris-setosa'].unique()

array([0, 1, 2], dtype=int64)

In [6]:
data['Iris-setosa'].replace(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],[0,1,2], inplace = True)
data

     5.1  3.5  1.4  0.2  Iris-setosa
0    4.9  3.0  1.4  0.2            0
1    4.7  3.2  1.3  0.2            0
2    4.6  3.1  1.5  0.2            0
3    5.0  3.6  1.4  0.2            0
4    5.4  3.9  1.7  0.4            0
..   ...  ...  ...  ...          ...
144  6.7  3.0  5.2  2.3            2
145  6.3  2.5  5.0  1.9            2
146  6.5  3.0  5.2  2.0            2
147  6.2  3.4  5.4  2.3            2
148  5.9  3.0  5.1  1.8            2

[149 rows x 5 columns]

In [9]:
Y = data['Iris-setosa']
x = data.drop('Iris-setosa', axis =1)